* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
body {
	font-family: "ו";
	font-size: 12px;
	color: #000000;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
}
.font01 {
	color: #00A804;
}
.font02 {
	color: #FF0000;
}
.font03 {
	color: #0066ED;
}
.font04 {
	color: #FF7701;
}
.font05 {
	color: #73BA00;
}
.font06 {
	color: #0066ED;
}
.font07 {
	clear: left;
	float: left;
	color: #444444;
	margin-left: 370px;
}
