@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{
	background:url(images/bj.jpg) repeat-x;
	/*text-align:center;*/
	font-family: "ËÎÌå";
	font-size: 12px;
	color: #575757;
}
#box {
	width:1000px;
	height:1070px;
	margin-left:270px;
	padding-top:5px;
}
#logo{
	width:800px;
	height:88px;
	padding-bottom:0px;
}
#head{
	width:800px;
	height:184px;
	padding-left:5px;
}
#main{
	width:795px;
	height:694px;
	padding-top:0px;
	background-image:url(images/310.jpg);
}
#top{
	width:570px;
	height:63px;
	padding-left:100px;
	padding-top:13px;
	float:left;
}
#top li{
	float: left;
	height: 20px;
	width: 80px;
	list-style-type: none;
    line-height:16px;
}
#left{
	float:left;
	width:170px;
	height:352px;
	margin-left:25px;
	border-right:1px dashed #CCCCCC;
	text-align:center;
}
#left1{
	width:159px;
	height:118px;
}
#left1 li{
	list-style-type:none;
	background:url(images/312.gif) no-repeat;
	background-position:10px;
	line-height:20px;
}
#left2{
	width:159px;
	height:118px;
}
#left2 li{
	list-style-type:none;
	background:url(images/312.gif) no-repeat;
	/*background-position:10px;*/
	line-height:20px;		
}
#left3{
	width:159px;
	height:117px;
}
#left3 li{
	list-style-type:none;
	line-height:20px;	
}
#right{
	background-image: url(images/315.gif);
	background-repeat: no-repeat;
	float: left;
	height: 352px;
	width: 595px;
	margin-left:4px;
}
.right1 {
	background: url(images/316.gif);
	background-repeat: no-repeat;
	float: left;
	height: 249px;
	width: 110px;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 8px;
	padding-right: 10px;
	padding-left: 9px;
	line-height: 20px;
	text-align: left;
}
.right1 img{
	margin-top:8px;
}
.right2 {
	background:url(images/323.gif);
	background-repeat: no-repeat;
	float: left;
	height: 249px;
	width: 110px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 8px;
	padding-right: 10px;
	padding-left: 9px;
	line-height: 20px;
	text-align: left;
}
.right2 img{
	margin-top:8px;
}		
#buttom1{
	clear:both;
	width:739px;
	height:169px;
	background:url(images/328.gif);
	margin-left:25px;
}
.buttom{
	background-image: url(images/329.gif);
	background-repeat: no-repeat;
	float: left;
	height: 62px;
	width: 119px;
	margin-left: 6px;
	padding-top:10px;
	padding-right: 10px;
	padding-left: 10px;
		
}
.buttom img{
	margin-right: 5px;
	vertical-align: text-top;
	margin-bottom: 5px;
}
.font1 {
	font-family: "ËÎÌå";
	font-size: 12px;
	line-height:20px;
	font-weight: bold;
	padding-left:2px;
}
#buttom2{
	width:759px;
	height:80px;
	margin-left:170px;
}
#buttom2 img{
	float:left;
	margin-left:15px;
	margin-top:15px;

	}
#buttom{
	width:100%;
	height:78px;
	background:url(images/334.gif) repeat-x;
	margin-top:15px;
	}
#buttom_left{
	float:left;
	width:110px;
	height:60px;
	padding-top:12px;
	margin-left:300px;
}
#buttom_right{
	float:left;
	width:300px;
	height:78px;
}
#b_r_t{
	width:445px;
	height:22px;
	margin-top:10px;
	background:url(images/336.gif);
	}
#b_r_t li{
	list-style-type:none;
	line-height:22px;
	margin-left:15px;
	color:#CCC;
	float:left;
}
#b_r_b{
	width:445px;
	height:30px;
	margin-top:5px;
	line-height:17px;
}
#b_r_b span{
	color:#360;
}