@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	border:0px;
}
body{background:#FFC;}
#box{
	width:557px;
	height:600px;
	margin:auto;
	background:url(qqimg/5.jpg) repeat-y;
}
#box h2{
	width:500px;
	padding:10px;
	padding-top:30px;
	border-bottom:1px solid #F96;
	margin:auto;
	color:#F96;
	font-family:"宋体";
}
#box p{
	padding:15px;
	color:#FFF;
}
#box span{
	margin-left:40px;
}
	
